.review-area1 {
    font-family: $font;
    position: relative;
    box-sizing: border-box;

    figure {
       margin: 0;
    }

    .review-area1-content {
        position: absolute;
        top: 30%;
        right: 10%;
        left: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .review-area1-heading {

            h1 {
                color: $dark-blue;
                text-transform: uppercase;
                font-size: 1.5rem;
                text-align: center;
                padding: 5px;
                margin: 10px;
                border-bottom: 2.5px solid $dark-blue;
            }
            
            h2 {
                color: $dark-blue;
                font-size: 1rem;
                margin: 0;
            }
        } 

        .review-area1-intro {
            font-size: .7rem;
            text-align: center;
            line-height: 1.5;
            font-family: 700;
        }
    }
}

